body {
    background-color: black
}

div {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-weight: bold;
}

div:hover {
    color: red;
    background-color: black;
    transition: color 0.25s;
    font-family: chiller;
    font-size: 50px;
}
